header{
  top: 0px;
  margin: 0px;
  left: 0px;
  margin-left: 0px;
  right: 0px;
  margin-right: 0px;
  padding: 0px;
  position: absolute;
  height:750px;
  background: url(../../assets/img/hhomes.jpg) no-repeat;
  background-size:cover;
  color: #F5F5F5;
    background-attachment: fixed;
}

p.hh{
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
text-align: center;

}
p.hhh{
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
text-align: center;

}
p.hhhh{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
text-align: center;


}
overview{
  position: absolute;
  top: 800px;
  width: 100%;
  margin: 0;
  right: 0%;
  margin-right: 0;
  left: 50%;
  text-align:left;
  color: #21252B;

}

logo{
  top: 0px;
  margin: 0px;
  left: 50px;
  margin-left: 0px;
  right: 0px;
  margin-right: 0px;
  padding: 0px;
  position: absolute;
  color:#fff;
}

footer{
  position: absolute;
  top: 2000px;
  width: 100%;
  margin: 0;
  padding:20px;
  right: 0px;
  margin-right: 0;
  text-align:center;
  
  color:#fff;
  
  background-attachment: fixed;
 background-repeat: no-repeat;

 
 background: url(../../assets/img/gray.jpg) no-repeat;
 background-size:cover;
}

/*...........top navigation ...............*/

ull {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

lii {
    float: right;
}

lii a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

lii a:hover:not(.active) {
    background-color: #335166;
}

.active {
    background-color: #335166;

}


/*...........left slide navigation ...............*/

article{position: fixed;
        width: 70%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 30px 15%;
        background-color: white;
        overflow: auto;
        z-index: 0;
        transform-origin: 0 50%;
      }
      article::after{
        position: absolute;
        content: '';
        left: 100%;
        top: 0;
        right: 0;
        bottom: 0;
      }
      nav{
        position: fixed;
        left: -376px;
        top: 0;
        bottom: 0;
        background-color: #275564;
        border-right: 40px solid #275564;
        opacity: 0.9;
        filter: alpha(opacity=60);
        box-shadow: 5px 0 5px(0, 0, 0, ,0, 0.2);
        z-index: 1;
        cursor: pointer;


      }
      nav:after{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        right: -80px;
        top: 50%;
        border-width: 20px 20px;
        border-style: solid;
        border-color: transparent transparent transparent #4CAF50;

      }
      nav ul{
        width: 15em;
        list-style-type: none;
        font-size: 20px;
      }

      article, article:after , nav, nav *{
        transition: all 1000ms;
      }

      nav:hover{
        left: 0;

      }
      nav:hover ~ article:after{
        left: 60%;

      }
      nav li{
        color: white;
        padding: 5%;
        font-size: 50px;
        text-align: center;
      }

      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }



  /*.................photobanner...................*/
      		 #container {


        overflow: hidden;
        margin-top: 880px;
        background: white;
        margin-left: 40px;
              }
.mySlides {display:none;}


/*.............login ..............*/


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
  height: 200px;
    width: 200px;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
input.s {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*.........parallax.............*/



columnn{
  position: absolute;
 top: 1420px;
 width: 100%;
 height: 280px;
 margin: 0;
right: 0px;
 margin-right: 0;
text-align:center;

 
 background-size:cover;

 

  margin: 0px;
  left: 0px;
  margin-left: 0px;
  right: 0px;
  margin-right: 0px;
  padding: 0px;
  position: absolute;
  height:735px;
  background: url(../../assets/img/hhomes.jpg) no-repeat;
  background-size:cover;

  color: #F5F5F5;
    background-attachment: fixed;

}

/*.......column.......*/
column{
  position: absolute;
 top: 1720px;
 width: 100%;
 height: 280px;
 margin: 0;

 right: 0px;
 margin-right: 0;
text-align:center;

 background-attachment: fixed;
/*background: url(../../assets/img/gray.jpg) no-repeat;
*/ background-repeat: no-repeat;
 color:#fff;
padding: 0px;
 background: url(../../assets/img/gray.jpg) no-repeat;
 background-size:cover;
 color: #F5F5F5;
   background-attachment: fixed;

}
